#-- Don't Touch, read docs
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set sv_enforceGameBuild 2699 #-- Game Build

#-- Edit this, key, nameserver, slots...
sv_licenseKey "PUT YOUR SERVER KEY" #-- Create a free key here: https://keymaster.fivem.net/
sets banner_detail "https://imgur.com/lJQlWR7"
sets banner_connecting "https://imgur.com/LWCsdVZ"
load_server_icon logo.png
sv_hostname "i-Legacy ESX Server"
sets sv_projectName "i-Legacy ESX Server"
sets sv_projectDesc "i-Legacy ESX Server"
set mysql_connection_string "mysql://root@localhost/es_extended?charset=utf8mb4"
sets tags "esx, legacy, roleplay"
sv_maxclients 4

#--------------------------
#┏━━━┓
#┃┏━┓┃
#┃┗━┛┣━━┳━━┳━━┳┓┏┳━┳━━┳━━┳━━┓
#┃┏┓┏┫┃━┫━━┫┏┓┃┃┃┃┏┫┏━┫┃━┫━━┫
#┃┃┃┗┫┃━╋━━┃┗┛┃┗┛┃┃┃┗━┫┃━╋━━┃
#┗┛┗━┻━━┻━━┻━━┻━━┻┛┗━━┻━━┻━━┛
#--------------------------

#-- Def Resources, Needs
ensure chat
ensure spawnmanager
ensure hardcap
ensure bob74_ipl

#-- Basics / Don't Touch Order list
ensure oxmysql
ensure ox_lib
ensure es_extended
ensure ox_inventory
ensure [esx]

#-- Addons
ensure [standalone]
ensure [esx_addons]
ensure [hud]
ensure [jobs]
ensure [ox]
ensure [scripts]
ensure [addons]

#-- Voice System Cfg
ensure pma-voice
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

#-- Admins + Perms
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.fivem:488444 group.admin #IKER.00 (mine)
set SCREENSHOT_BASIC_TOKEN https://discordapp.com/api/webhooks/1044543128864043079/jO5q_Bh5sZNP07jYvO9STXiIq49cnaDKyFy4rbEPyj2Ii93gROKMUoAlTl5Cc7RJHH0W


#   ____         _____                      _                      _____             __ _       
#  / __ \       |_   _|                    | |                    / ____|           / _(_)      
# | |  | |_  __   | |  _ ____   _____ _ __ | |_ ___  _ __ _   _  | |     ___  _ __ | |_ _  __ _ 
# | |  | \ \/ /   | | | '_ \ \ / / _ \ '_ \| __/ _ \| '__| | | | | |    / _ \| '_ \|  _| |/ _` |
# | |__| |>  <   _| |_| | | \ V /  __/ | | | || (_) | |  | |_| | | |___| (_) | | | | | | | (_| |
#  \____//_/\_\ |_____|_| |_|\_/ \___|_| |_|\__\___/|_|   \__, |  \_____\___/|_| |_|_| |_|\__, |
#                                                          __/ |                           __/ |
#                                                         |___/                           |___/ 

# Activate specific event handlers and functions (supported: ox, esx, qb, nd)
setr inventory:framework "esx"

# Load specific language file from data/locales
setr ox:locale "en"

# Number of slots for player inventories
setr inventory:slots 50

# Maximum carry capacity for players, in grams (will be automatically converted to kilograms in-game)
setr inventory:weight 30000

# Weapons will reload after reaching 0 ammo
setr inventory:autoreload true

# Weapons must be aimed before shooting
setr inventory:aimedfiring false

# Blur the screen while accessing the inventory
setr inventory:screenblur true

# Trim whitespace from vehicle plates when checking owned vehicles
setr inventory:trimplate true

# Integrated support for qtarget/ox_target stashes, shops, etc
# Note: qtarget is deprecated, a future update may drop support (ox_target only, or gated features)
setr inventory:target false

# Default hotkeys to access primary and secondary inventories, and hotbar
setr inventory:keys ["F2", "K", "TAB"]

# Enable control action when inventory is open
setr inventory:enablekeys [249]

# Show a list of all nearby players when giving items
setr inventory:giveplayerlist true

# Jobs with access to police armoury, evidence lockers, etc
setr inventory:police ["police", "sheriff"]

# The URL to load item images from
setr inventory:imagepath "nui://ox_inventory/web/images"

# Logging via ox_lib (0: Disable, 1: Standard, 2: Include AddItem/RemoveItem, and all shop purchases)
set inventory:loglevel 1

# Item prices fluctuate in shops
set inventory:randomprices true

# Compare current version to latest release on GitHub
set inventory:versioncheck true

# Loot will randomly generate inside unowned vehicles and dumpsters
set inventory:randomloot true

# Minimum job grade to remove items from evidence lockers
set inventory:evidencegrade 2

# Stashes will be wiped after remaining unchanged for the given time
set inventory:clearstashes "8 MONTH"

# Set the contents of randomly generated inventories
# [item name, minimum, maximum, loot chance]
set inventory:vehicleloot [
    ["cola", 1, 1],
    ["water", 1, 1],
    ["garbage", 1, 2, 50],
    ["panties", 1, 1, 5],
    ["money", 1, 50],
    ["money", 200, 400, 5],
    ["bandage", 1, 1]
]

set inventory:dumpsterloot [
    ["mustard", 1, 1],
    ["garbage", 1, 3],
    ["money", 1, 10],
    ["burger", 1, 1]
]

# Set datadog API key for inventory logging (https://app.datadoghq.com/organization-settings/api-keys)
set datadog:key ""

# Set server intake (https://docs.datadoghq.com/api/latest/logs/#send-logs)
set datadog:site "datadoghq.com"

# Set server hostname
set datadog:hostname "FXServer"

