@font-face{
	font-family: nfont;
	src: url("https://cdn.discordapp.com/attachments/839958624340148314/1040703952397807626/BoxedRoundLight.ttf");
}

@font-face{
    font-family: nfont2;
    src: url("https://cdn.discordapp.com/attachments/839958624340148314/1040718200465281024/Gobold_Regular.ttf")
}

#all {
    position: absolute;
    left: 85%;
    top: 30%;
}

.abrirMenu {
    animation: venirse ease-in-out 0.5s forwards;
}

.cerrarMenu {
    animation: irse ease-in-out 0.5s forwards;
}

body {
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}


/*NUEVO*/

.contenedor {
    text-align: left;
    width: 270px;
    position: absolute;
    bottom: -147px;
}

.cabecera {
	font-family: nfont;
    font-weight: 600;
    font-size: 1vw;
    color: rgb(255, 255, 255);
    z-index: 2 !important;
}

.titulo{
    background: linear-gradient(90deg, rgb(255, 104, 222) 3%, rgb(100, 61, 241) 100%);
    border-radius: 0.2vw;
    font-size: .7vw;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1vw;
    z-index: 2 !important;
    padding: 0.3vw;  
    position: absolute;
    top: -1.4vw;
    left: 3.5%;
    width: 8vw;
    font-family: nfont2;
}

.n-avisos {
    background: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;
    font-size: .7vw;
    position: absolute !important;
    padding: 2px;
    right: 3%;
    bottom: .020vw;
    font-family: 'Quicksand', sans-serif;
}

.n-avisos i {
    color: rgb(255, 255, 255);
    font-size: 1vw;
    position: absolute !important;
    left: -170%;
    bottom: .2vw;
}

.avisos {
	background: rgba(0, 0, 0, 0.726);
    box-shadow: 0 0 4px black;
    color: rgb(255, 255, 255);
    padding: .5vw;
    min-height: 5.5vw;
    height: auto;
    /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.822); */
    border-radius: 0.1vw;
	font-family: nfont;
    z-index: 1;
    font-size: 85%;
}

.avisos a {
    color: white !important;
	font-family: nfont;
}

.col {
    width: 33.33%;
    float: left;
    font-size: .6vw;
    margin-top: .25vw;
}

.col img {
    width: .9vw;
    position: absolute;
    left: 45%;
    bottom: .3vw;

}

.left {
    left: 20px;
}

.right {
    right: 20px;
}

.izquierda {
    text-align: left;
}

.central {
    text-align: center;
}

.derecha {
    text-align: right;
}

.controles {
	background-color: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
    font-family: 'Quicksand', sans-serif;
    margin-top: -1.35vw;
    margin-left: 10.65vw;
    font-size: 0.9vw;
    width: 2vw;
    height: 1.2vw;
}

@-webkit-keyframes configAnim {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes configAnim {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes configAnim {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes color_anim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes color_change {
    0% {
        background-color: #313030;
    }
    50% {
        background-color: rgba(26, 11, 228, 0.651);
    }
    100% {
        background-color: #313030;
    }
}

@keyframes color_ambuchange {
    0% {
        background-color: #313030;
    }
    50% {
        background-color: rgba(228, 11, 11, 0.651);
    }
    100% {
        background-color: #313030;
    }
}

@keyframes color_taxichange {
    0% {
        background-color: #313030;
    }
    50% {
        background-color: rgba(228, 195, 11, 0.651);
    }
    100% {
        background-color: #313030;
    }
}

@keyframes color_mecachange {
    0% {
        background-color: #313030;
    }
    50% {
        background-color: rgba(192, 189, 189, 0.651);
    }
    100% {
        background-color: #313030;
    }
}

@keyframes contrast {
    0% {
        color: #ffffff;
    
    }
    50% {
        color: rgb(255, 255, 255);
        opacity: 1;
    }
    100% {
        color: #ffffff;
    
    }
}

@keyframes filter {
    0% {}
    50% {
        filter: sepia(100%) hue-rotate(190deg) saturate(500%);
        opacity: 1;
    }
    100% {
        filter: sepia(0%) hue-rotate(0deg) saturate(0%);
        opacity: 0.2;
    }
}


/* Menu */

#configmenu {
    left: 30%;
    top: 10%;
    position: absolute;
}

.t-menuclass {
    font-family: nfont;
    position: absolute;
    width: 500px;
    min-height: 150px;
    height: 600px;
    background: #000000c5;
    color: black;
    z-index: -2;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

.tmenu-top-border {
    position: absolute;
    width: 500px;
    height: 50px;
    background: #000000;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ffffff8c;
}

.menu-titlename {
    position: absolute;
    color: white;
    width: 500px;
    font-size: 25px;
    margin-top: 6px;
	font-family: nfont;
    text-align: center;
}


/*buttons*/

.delete-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #ff0000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    outline: none;
    font-size: 5px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 25px;
}

.delete-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.delete-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.delete-button:hover span {
    padding-right: 25px;
}

.delete-button:hover span:after {
    opacity: 1;
    right: 0;
}

.images-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #db1313;
    border: none;
    outline: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 75px;
    margin-left: 45px;
}

.images-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.images-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.images-button:hover span {
    padding-right: 25px;
}

.images-button:hover span:after {
    opacity: 1;
    right: 0;
}

table {
    overflow-y: scroll;
    overflow-y: overlay;
    table-layout: unset !important;
}

.alerts-table {
  
    color: color;
    table-layout: fixed;

    overflow: scroll;
    z-index: 5;
}

th,
td {
    word-break: break-word;
    min-width: 50px;
}

.table-container {
    background-color: #080808b4;
    width: 400px;
    margin-left: 39px;
    z-index: 4;
	font-family: nfont;
    border: 1.8px solid white;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-bottom:10px;
    padding:1vh;
}

.table-container:hover {
    background-color: #1d1d1ddc;
    text-shadow: -1px 0 10px white;
    box-shadow: 0 0 10px white;
    color: rgb(255, 255, 255);
    transition: ease-in-out 0.3s;
}


/*tabla*/

.table-id {
    text-align:left;
    z-index: 3;
	font-family: nfont;

}

.content-table-text {
    z-index: 4;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

.content-table-text font:nth-child(1){

        font-size: 1.5vh;
        font-weight: bold;
    
}

.content-table-text font{

  
    font-weight: bold;

}


.table-code {
    z-index: 3;
    font-size: 20px;
    font-display: center;


	font-family: nfont;
    font-weight: 300;
    display:block;
}

::-webkit-scrollbar {
    border-radius: 5px;
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #ffffff00;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(32, 31, 31);
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.301)
}

.menu {
    position: absolute;
    flex: auto;
    z-index: 100;
}

.menu-style {
    position: absolute;
    height: max-content;
    width: 152px;
    background: rgb(0, 0, 0);
    left: 800px;
    box-shadow: 0 0 29px black;
    border-radius: 5px;
    overflow: hidden;
    padding-left: 0;
}

.minimenu-button {
    background: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    top: 0px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: nfont;
    right: 0px;
    width: 100%;
    font-size: 14px;
    outline: none;
    text-align: left;
    cursor: pointer;
    padding: 5px 10px;
}

.minimenu-button:hover {
    background-color: #ffffff;
    color: #000;
}

.minimenu-button-deleteall {
    background: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    top: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: nfont;
    right: 0px;
    width: 100%;
    font-size: 14px;
    outline: none;
    text-align: left;
    cursor: pointer;
    padding: 5px 10px;
}

.minimenu-button-deleteall:hover {
    background-color: #ffffff;
    color: #000;
}

.minimenu-button-images {
    background: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    top: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: nfont;
    right: 0px;
    width: 100%;
    font-size: 14px;
    outline: none;
    text-align: left;
    cursor: pointer;
    padding: 5px 10px;
}

.minimenu-button-images:hover {
    background-color: #ffffff;
    color: #000;
}

hr {
    top: 42px;
    height: 1px;
    right: 5%;
    width: 90%;
    border: none;
    outline: none;
    background-color: rgba(80, 79, 79, 0.582);
}

.minimenu-button-togglealerts {
    background: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    top: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: nfont;
    right: 0px;
    width: 100%;
    font-size: 11px;
    outline: none;
    text-align: left;
    cursor: pointer;
    height: max-content;
    padding: 5px 10px;
}

.minimenu-button-togglealerts:hover {
    background-color: #ffffff;
    color: #000;
}

/* @keyframes abrirMenu {
    from {
        transform: scale(0.5);
        opacity: 0%;
    }
    to {
        transform: scale(1);
        opacity: 100%;
    }
}

@keyframes cerrarMenu {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.5);
        opacity: 0;
    }
} */

@keyframes venirse {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 100;
        transform: translateX(0);
    }
}

@keyframes irse {
    0% {
        opacity: 100;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(50px);
    }
}